h1 {
  font-family: 'Andika', sans-serif;
}
    
    #random-word {
      font-family: 'Andika', sans-serif;
      font-size: 100px;
      color: black;
    }
    
    .vowel {
      color: red;
      font-family: 'Andika', sans-serif;
    }
    
    .container {
      text-align: center;
      margin-top: 50px;
      font-family: 'Andika', sans-serif;
    }
    
    .green-button {
      background-color: #00ff00;
      color: #ffffff;
      font-size: 16pt;
      width: 120px;
      margin-right: 10px;
      font-family: 'Andika', sans-serif;
    }

    .red-button {
      background-color: #ff0000;
      color: #ffffff;
      font-size: 16pt;
      width: 120px;
      font-family: 'Andika', sans-serif;
    }
    
    .dropdown {
      margin-top: 20px;
      display: inline-block;
      font-family: 'Andika', sans-serif;
    }
    
    .dropdown select {
      width: 200px;
      text-align-last: center;  
    }

    .play-again-button {
      background-color: #0040ff;
      color: #ffffff;
      font-size: 16pt;
      padding: 10px 20px;
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Andika', sans-serif;
    }

    .message {
      display: none;
      margin-top: 20px;
      font-family: 'Andika', sans-serif;
    }

    .percentage {
      font-size: 20px;
      margin-top: 10px;
      font-family: 'Andika', sans-serif;
    }
